In [4]:
import pandas as pd
import os 
os.getcwd()

'/home/martin'

In [8]:
data = pd.read_csv("/home/martin/Bureau/THP/01_02/Data_Analyse_Musees/museums.csv", encoding='latin-1', sep = ";")
data

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,8717476852",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,7272222222",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,7135069444",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,580775463",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,4758449074",NaN

In [ ]:
# Fonction permettant de compter le nombre de musées en France métropolitaine

In [27]:
def nombreMusees():
    number_of_museums = len(data.index)
    print("Il y a", number_of_museums, "musées en France métropolitaine !")

nombreMusees()

Il y a 3784 musées en France métropolitaine !

In [28]:
# Fonction permettant de trouver la ville où il y a le plus de musées

In [29]:
def villeMusees():
    city_with_the_most_museums = data['city'].value_counts().idxmax()
    print("La ville avec le plus de musées en France est", city_with_the_most_museums, "!")

villeMusees()

La ville avec le plus de musées en France est Paris !

In [ ]:
# Fonction permettant de trouver le nombre moyen de musées par ville

In [98]:
def moyenneMusees():
    average_museums_by_city = data['city'].value_counts().mean()
    print("Le nombre moyen de musées par ville en France est de", average_museums_by_city)
    
moyenneMusees()

Le nombre moyen de musées par ville en France est de 1.647930283224401

In [ ]:
# Fonction permettant de trouver le nombre médian de musées par ville

In [99]:
def medianeMusees():
    median_museums_by_city = data['city'].value_counts().median()
    print("Le nombre médian de musées par ville en France est de", median_museums_by_city)
    
medianeMusees()

Le nombre médian de musées par ville en France est de 1.0

In [ ]:
# Fonction permettant de classer les musées par types

In [50]:
def typeMusees():
    type_of_museums = data['tags'].value_counts()
    type_of_museums_percentage = type_of_museums * 100 / (len(data.index))
    print(type_of_museums_percentage)

typeMusees()

osm:museum                                                                    57.478858
osm:museum;type:ecomusee                                                      10.227273
osm:museum;type:musee technique et industriel                                  5.126850
osm:museum;type:musee d'histoire                                               3.488372
osm:museum;art:architecture                                                    3.197674
                                                                                ...
osm:museum;gender:musee de couple;type:maison d'artiste                        0.026427
osm:museum;art:prehistoire;type:musee d'histoire naturelle                     0.026427
osm:museum;continent:art asiatique;type:centre d'art                           0.026427
osm:museum;type:musee d'artiste;type:musee litteraire;gender:musee d'homme     0.026427
osm:museum;gender:musee d'homme;type:musee de beaux-arts                       0.026427
Name: tags, Length: 119, dtype: float64

In [51]:
# Fonction permettant de trouver le nombre de musées dont le nom commence par 'Château'

In [97]:
def museesChateaux():
    museums_with_chateau = data['name'].str.startswith('Château').sum()
    print("Il y a",museums_with_chateau, "musées dont le nom commence par 'Château' en France !")
    
museesChateaux()

Il y a 57 musées dont le nom commence par 'Château' en France !

In [ ]:
# Fonction permettant de compter le nombre de musées possédant une adresse mail

In [77]:
def mailMusees():
    museums_with_mail = data.dropna(subset = ['email'])
    museums_with_mail_count = len(museums_with_mail['email'])
    print("Il y a", museums_with_mail_count, "musées avec une adresse mail en France !")
    
mailMusees()

Il y a 301 musées avec une adresse mail en France !

In [ ]:
# Fonction permettant de déterminer quel département possède le plus de musées en France

In [121]:
def museesDepartement():
    departement_with_most_museum = data['postal_code'].apply(str).str[:2].value_counts().idxmax()
    print("Le département comptant le plus de musées en France est le", departement_with_most_museum, "!")

museesDepartement()

Le département comptant le plus de musées en France est le 75 !

In [117]:
# Fonction permettant de déterminer quel département possède le moins de musées en France

In [120]:
def museesDepartement():
    departement_with_less_museum = data['postal_code'].apply(str).str[:2].value_counts().idxmin()
    print("Le département comptant le moins de musées en France est le", departement_with_less_museum, "!")

museesDepartement()

Le département comptant le moins de musées en France est le 98 !

In [ ]:
# Fonction permettant de trouver le nombre de musées dont le nom contient 'Napoléon'

In [105]:
def museesNapoleon():
    museums_with_napoleon = data['name'].str.contains('Napoléon').sum()
    print("Il y a",museums_with_napoleon, "musées dont le nom contient 'Napoléon' en France !")
    
museesNapoleon()

Il y a 4 musées dont le nom contient 'Napoléon' en France !

https://data.culture.gouv.fr/explore/dataset/frequentation-des-musees-de-france/export/?refine.annee=2019&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7ImFsaWduTW9udGgiOnRydWUsInR5cGUiOiJsaW5lIiwiZnVuYyI6IlNVTSIsInlBeGlzIjoidG90YWwiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjYzQzYTJmIn0seyJhbGlnbk1vbnRoIjp0cnVlLCJ0eXBlIjoibGluZSIsImZ1bmMiOiJTVU0iLCJ5QXhpcyI6InBheWFudCIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6IiMzNzdkODcifSx7ImFsaWduTW9udGgiOnRydWUsInR5cGUiOiJsaW5lIiwiZnVuYyI6IlNVTSIsInlBeGlzIjoiZ3JhdHVpdCIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6IiNkNmJhOWQifV0sInhBeGlzIjoiYW5uZWUiLCJtYXhwb2ludHMiOiIiLCJ0aW1lc2NhbGUiOiJ5ZWFyIiwic29ydCI6IiIsImNvbmZpZyI6eyJkYXRhc2V0IjoiZnJlcXVlbnRhdGlvbi1kZXMtbXVzZWVzLWRlLWZyYW5jZSIsIm9wdGlvbnMiOnsicmVmaW5lLmFubmVlIjoiMjAxOSJ9fX1dLCJkaXNwbGF5TGVnZW5kIjp0cnVlLCJ0aW1lc2NhbGUiOiIiLCJhbGlnbk1vbnRoIjp0cnVlLCJzaW5nbGVBeGlzIjp0cnVlfQ%3D%3D

Site du Ministère de la Culture sur la fréquentation des musées de 2001 à 2019. Possibilité de télécharger le CSV.

https://www.culture.gouv.fr/Thematiques/Etudes-et-statistiques/Statistiques-culturelles/Donnees-statistiques-par-domaine_Cultural-statistics-databases/Musees

Site du Ministère de la Culture. Indique les expos récentes ayant le plus marché et l'évolution de la fréquentation des musées par région, ...